

<div id="tabs" class="homepage">
	<ul>
		<li><a href="#tabs-1">&nbsp;&nbsp;&nbsp;&nbsp;looking for a place&nbsp;&nbsp;&nbsp;</a></li>
		<li><a href="#tabs-2">&nbsp;&nbsp;&nbsp;looking for a roommate&nbsp;&nbsp;&nbsp;&nbsp;</a></li>
		<li><a href="#tabs-3">&nbsp;&nbsp;&nbsp;&nbsp;get it in your area&nbsp;&nbsp;&nbsp;</a></li>
	</ul>
	<div id="tabs-1">
		<p>
			<h2><span class="taglineSmall">Vroommates!</span> can help you find a place to live.</h2>
		</p>
		<div class="homepageSection">
			<span class="header">What's the deal?</span>
			<div class="answer">
				<span class="taglineSmall">Vroommates!</span> is a service that sets up "speed dating" for people looking for roommates.
			</div>
		</div>
	</div>
	<div id="tabs-2">
		<p>
			<h2><span class="taglineSmall">Vroommates!</span> can help you sublet your room.</h2>
		</p>
	</div>
	<div id="tabs-3">
		<p>
			<h2>Start <span class="taglineSmall">Vroommates!</span> in your area!</h2>
		</p>
	</div>
</div>

<script type="text/javascript">
	$(function() {
		$("#tabs").tabs({event: 'mouseover'});
	});
	</script>
