

<div id="tabs" class="homepage">
	<BR>
	<div class="homepage_flavor_text">
If you brought the concept of speed dating to roommate finding, you could call it Speed Roommating. But we didn’t. We called it Vroommates. And it’s the fastest, easiest, and potentially most fun way to find people you’d want to live with.
		<BR>
		<p>Here’s how VroomMates works:</p>

After quickly creating an online profile describing your living habits and preferences, you’ll be invited to local meet-ups. Don’t like smokers? They won’t be there. Don’t trust vegetarians? They’re gone. Can’t stand people who brush their teeth in the shower? They won’t be on the invite list. You’ll only be mingling with those you might want to share a home with. So behave yourself.
	</div>
		
		<p>			
			<h3><span class="taglineSmall">Where do you want to find a roommate?</span>
				 
			&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
	
				<%= select_tag "city", "
					    <option value='1'>Atlanta, GA</a></option>
						<option value='2'>Boston, MA</option>
						<option value='3'>Chicago, IL</option>
						<option value='4'>Cleveland, OH</option>
						<option value='5'>Dallas, TX</option>
						<option value='6'>Detroit, MI</option>
						<option value='7'>Houston, TX</option>	
						<option value='8'>Los Angeles, CA</option>
						<option value='9'>New York City, NY</option>
					    <option value='10'>Miami, FL</option>
						<option value='11'>Philadelphia, PA</option>
						<option value='12'>Phoenix, AZ</option>		
						<option value='13'>San Francisco, CA</option>							
						<option value='14'>Seattle, WA</option>
						<option value='15'>Washington D.C.</option>	", :onChange => "window.location.href='/users/new'"  %>
					
			
				
			
			
			</h3>	
		</p>
</div>

<script type="text/javascript">
	$(function() {
		$("#tabs").tabs({event: 'mouseover'});
	});
	</script>
