

<div class="homepage">
	<BR>
	<div class="homepage_flavor_text">
If you brought the concept of speed dating to roommate finding, you could call it Speed Roommating. But we didn’t. We called it Vroommates. And it’s the fastest, easiest, and potentially most fun way to find people you’d want to live with.
		<BR>
		<h3><span class="taglineSmall">Here’s how VroomMates works:</span></h3>

After quickly creating an online profile describing your living habits and preferences, we'll send you an invitation to a local meet-up in your area. 

<div class="question">
	Don’t like smokers<span class="orangish">?</span> 
	<div class="answer">	
		They won’t be there. 
	</div>
</div>

<div class="question">
	Don’t trust vegetarians<span class="orangish">?</span> 
	<div class="answer">
		They’re gone. 
	</div>
</div>

<div class="question">
	Can’t stand people who brush their teeth in the shower<span class="orangish">?</span> 
	<div class="answer">
		They won’t be on the invite list. 
	</div>
</div>

You’ll only be mingling with those you might want to share a home with. So behave yourself.
	</div>
		
		<p>			
			<h3><span class="taglineSmall">Where do you want to find a roommate?</span>
				 
			&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
	
				<%= select_tag "city", options_from_collection_for_select(City.all, 'id', 'name'), :onChange => "selectACity()"  %>
					
			
				
			
			
			</h3>	
		</p>
</div>
