<div class="homepageV2">
	<img src="/images/layout_v2/logo.png" class="logo"/>
	<div class="information">
		<div class="header">
			Speed Dating for Roommates
		</div>
		<div class="more">
			Welcome to VroomMates.com!  
			We offer unique events
			that can help you find someone decent to live with.
			We do our best to make sure you never get another bad roommate!
		</div>
	</div>
	<img src="/images/layout_v2/click_to_register.png" class="clickToRegister" />

</div>