<div class="homepageV2">
	<div class="information">
		<div class="header">
			Speed Dating for Roommates
		</div>
		<div class="more">
			Welcome to VroomMates.com!  
			We offer unique events
			that will greatly enhance your chances of finding a decent roommate.
			We use computer algorithms based off a quick survey to match you
			with like minded people who you are sure to get along with.
		</div>
	</div>
	<%= link_to image_tag('layout_v2/click_to_register.png', :class => 'clickToRegister'), :controller => 'users', :action => 'new' %>

</div>