<div class="homepageV2">
	<img src="/images/layout_v2/logo.png" class="logo"/>
	<div class="information">
		<div class="header">
			Speed Dating for Roommates
		</div>
		<div class="more">
			Copy that welcomes users to the site. Lorem ips
			um dolor sit amet, consectetur adipiscing elit. S
			ed nonipsum quam, nec tincidunt dui. Donec eu 
			arcu est. incidunt dui. Donec eu arcu est.incidunt. 
		</div>
	</div>
	<img src="/images/layout_v2/click_to_register.png" class="clickToRegister" />

</div>