<div class="aboutOurEvents">

	<h2 class="header">About our Events</h2>
	
	<div>
		<ol>
		  <li><span class="orangish strong">Register on the site</span> &mdash; We use this information to let you know about events and help ensure you only meet the best potential roommates.</li>
			<li><span class="orangish strong">Sign up for an event</span> &mdash; Sign up for an event in your area to meet people looking for a roommate</li>
			<li><span class="orangish strong">Attend an event</span> &mdash; Using your profile, we will match you with the best potential roommates.  For example, if you are a woman and don't want to live with men, you won't have to meet any men.  We'll provide you with materials to help you remember the people you meet.</li>
			<li><span class="orangish strong">Find an apartment</span> &mdash; After the event, we will send you more information where to find a great apartment to rent</li>
		</ol>
	</div>
</div>