<div class="contactUs">
	<%= page_title "Contact Us"%>
	<div>Feel free to get in contact with us if you have any problems, suggestions, or other issues.  We are hear to help!</div>
	
	<br />
	<div><strong>email:</strong> <a href="mailto:webmaster@vroommates.com">webmaster@vroommates.com</a></div>
	
	
</div>