<div class="hostAnEvent">
	<%= page_title 'Host An Event' %>
	
	<h3>Why host an event?</h3>	
	<div class="section">
		<div>
			There are many reasons to host an event at VroomMates.com  Here are a couple:
			<ul>
				<li>You get $$$ from hosting an event</li>
				<li>It's a rewarding experience</li>
				<li>Shows leadership and ingenuity.  Employers love those traits</li>
		</div>
		
	</div>
	
	<h3>How does it work?</h3>
	
	<div class="section">
		It is really <strong>easy</strong>!  Hosting an event consists of three simple responsibilities:
		<ul>
			<li>Finding a venue</li>
			<li>Advertising for the event</li>
			<li>Hosting the event</li>
		</ul>
		<div>
			VroomMates.com provides you with all the resources and support you need to successfully have an event.  We have guides, resources, and plans in place to help your event go off without a hitch.  
		</div>
		<br />
		<div>
			We are also always there for a phone call or chat should you have more specific questions.
		</div>
	</div>
	
	<h3>Who do I contact to get started</h3>
	<div class="section">
		Simply email <a href="mailto:hosts@vroommates.com">hosts@vroommates.com</a> to get started.
	</div>
</div>
	