<div class="landingPage">
	<%= @landing_page.content %>
	<% if @landing_page.style == '1' %>
		<%= render :partial => 'partials/email_city_capture'%>
	<% end %>
	
	<div class="clearBoth"></div>
</div>