<div class="floatRight">
	<%= render :partial => 'landing_pages_list'%>
</div>

<div class="landingPageShow">
	<h2><%= @landing_page.id %> - <%= @landing_page.name %></h2>

	<div class="preview">
		<%= @landing_page.content %>
	</div>
	
	
</div>