body { background-color: #fff; color: #333; }

body {
  font-family: "Lucida Grande";
  font-size:   14px;
  line-height: 18px;
  background-color: #158384;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}


.fieldWithErrors {
  border-color: red;
  display: inline;
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #FB6C59;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}

a { color: #D46300; text-decoration: none; }
a:visited { color: #D46300; text-decoration: none; }
a:click { color: #D46300; text-decoration: none; }
a:hovor { color: #D46300; text-decoration: none; }

/* general */
.taglineSmall { color: #D46300; }
.orangish { color: #D46300;}
.floatLeft { float: left; }
.floatRight { float: right; }
.clearBoth { clear: both; }

/** layout */
.siteLogo        { margin: auto; color: white; width: 400px; padding-right: 230px; }
H1.sitename      { font-size: 54px; color: #D46300; font-style: italic; }
H2.tagline       { font-size: 15px; margin-top: -30px; font-weight: normal; margin-left: 20px; }
.copyright       { font-size: 8px; margin: auto; width: 200px; padding-left: 450px; padding-top: 20px; }
.taglineEmphasis { font-weight: bold; }
.bottomBanner    { margin: auto; padding-top: 40px; width: 726px; }
.share           { width: 110px; }

/** Homepage */
.homepage { margin: auto; padding-left: 20px; width: 580px;}
.homepage .question { padding: 6px 0 6px 0; }
.homepage .answer { margin-left: 10px; padding-left: 22px; background-image:url('/images/arrow.png'); 
					background-repeat: no-repeat; background-position: left center; padding-top: 5px; }
.homepage_flavor_text { margin: auto; color: black; padding-right: 8px; }
.homepageSection { padding-left: 8px; }
.homepageSection .header { font-weight: bold; font-size: 13px; background-image:url('/images/arrow.png'); 
			background-repeat: no-repeat; background-position: left; padding-left: 20px;}
.homepageSection .answer { padding-left: 18px; padding-top: 6px; }
.homepage SELECT         { font-size: 15px; }

/** White background layout */
.whiteBackgroundLayout { -moz-border-radius: 15px; border-radius: 15px; background-color: white; padding: 15px; width: 600px; margin: auto; }

/** Registration */
.registration .header { font-size: 16px; }
.registration .moreInformation { font-size: 11px; padding-left: 1px; }
.registration .header .important { font-size: 17px; font-weight: bold; color: #D46300; }
.registration .first_name { margin-right: 15px; width: 100px; }
.registration .last_name { width: 100px; }
.registration .email {width: 200px; margin-right: 45px;}
.registration .phone_number { width: 70px; }
.registration .age { width: 22px; }
.registration .gender { width: 44px; }
.registration .question { padding: 8px 0 8px 0; }

.registration .current_city { width: 200px; }
.registration .current_state { width: 25px; }
.registration .current_zip_code { width: 50px; }
.registration .race { width: 100px; }
.registration .religion { width: 100px; }

.registration .rent_min { width: 50px; }
.registration .rent_max { width: 50px; }

.registration .desired_number_of_roommates { width: 25px; }
.registration .desired_gender { width: 40px; }
.registration .desired_age_max { width: 25px; }
.registration .desired_age_min { width: 25px; }

.registration .day_available_label { margin-left: -3px; }
.registration .submit     { margin: 10px 0 0 15px;}
