/* Basic rails styles */
body              { background-color: #fff; color: #333; padding: 0px; margin: 0px; }
body              { font-family: "Lucida Grande"; font-size:   14px; background-color: #158384; }
pre               { background-color: #eee; padding: 10px; font-size: 11px; }
.fieldWithErrors  { border-color: red; display: inline; }
#errorExplanation { width: 400px; border: 2px solid red; padding: 7px; padding-bottom: 12px; 
					margin-bottom: 20px; background-color: #f0f0f0; }
#errorExplanation h2 { text-align: left; font-weight: bold; padding: 5px 5px 5px 15px; font-size: 12px; margin: -7px;
  background-color: #FB6C59; color: #fff; }
#errorExplanation p { color: #333; margin-bottom: 0; padding: 5px; }
#errorExplanation ul li { font-size: 12px; list-style: square; }

a { color: #D46300; text-decoration: none; }
a:visited { color: #D46300; text-decoration: none; }
a:click { color: #D46300; text-decoration: none; }
a:hovor { color: #D46300; text-decoration: none; }

/* general */
.taglineSmall   { color: #D46300; }
.orangish       { color: #D46300; }
.strong         { font-weight: bold; }
.floatLeft      { float: left; }
.floatRight     { float: right; }
.clearBoth      { clear: both; }
.titleContainer { position: relative; height: 40px; padding-bottom: 20px; }
H2.title        { font-size: 28px; position: absolute; top: 0px; left: 0px; z-index: 100; } 
H2.titleBack    { font-size: 28px; color: #D46300; position: absolute; top: 1px; left: 1px; }
H3              { color: #D46300; padding-left: 3px; }
A IMG           { outline: none; border: none;}
H2.header       { color: #0398e8; font-size: 25px; padding:0 0 15px 0; text-align: center; }

/** layout */
.siteLogo        { margin: auto; color: white; text-align: left;}
.siteLogo IMG.vroommatesLogo    { height: 58px; width: 385px; }
H1.sitename      { font-size: 54px; color: #D46300; font-style: italic; }
H2.tagline       { font-size: 15px; margin-top: -30px; font-weight: normal; margin-left: 20px; }
.copyright       { font-size: 8px; margin: auto; width: 200px; padding-left: 450px; padding-top: 20px; }
.taglineEmphasis { font-weight: bold; }
.bottomBanner    { margin: auto; padding-top: 40px; width: 726px; }
.share           { width: 110px; }
.bottomNav       { text-align: center; font-size: 12px; padding-top: 15px; }

/* New Layout */
BODY.newLayout   { background:#f4ac1a url('/images/layout_v2/background.jpg') no-repeat fixed 50px 0px; width: 100%; height: 100%; font-family: tahoma;}

.newLayout .login       { width: 360px; height: 40px; left: 30px; top: 4px; position: fixed; }
.newLayout .login .miniLogo { position: absolute; top: 4px; left: 20px; }
.newLayout .login .emailOverlay { position: absolute; top: 12px; left: 66px; color: #42b0e5; z-index: 999; }
.newLayout .login .email { position: absolute; top: 10px; left: 60px; width: 90px;} 
.newLayout .login .passwordOverlay { position: absolute; top: 12px; left: 171px; color: #42b0e5; z-index: 999; }
.newLayout .login .password { position: absolute; top: 10px; left: 165px; width: 90px;}
.newLayout .login .go       { position: absolute; top: 12px; left: 275px; }
.newLayout .logo            { padding: 0 18px 18px 16px; }

.newLayout .whiteBackground { z-index: -1	; position: fixed; left: 434px; width: 477px; padding: 0 65px; height: 100%; top: 0px;
	 																				 background: transparent url('/images/layout_v2/main_white_background.png') repeat-y left top; }
.newLayout .mainContent               { z-index: 1; width: 486px; padding: 0 0 0 494px; }
.newLayout .mainContent .navigation   { height: 40px; text-align: center; padding-top: 10px; }
.newLayout .mainContent .navigation A { color: #0398e8; font-size: 22px;  padding: 0 10px; }
.newLayout .mainContent .footer       { height: 40px; text-align: center; padding-top: 20px; }
.newLayout .mainContent .footer     A { color: #303030; font-size: 16px; padding: 0 10px; }
.newLayout .mainContent .pageYield    { padding: 0 10px; width: 466px; }
	
	
/* Homepage V2 */
.homepageV2        { text-align: center; }
.homepageV2 .header              { padding: 50px 0 10px 0; color: #0398e8; font-size: 25px; text-align: center; }
.homepageV2 .information .more   { color: #4a4a4a; font-size: 17px; width: 350px; margin: auto; padding-bottom: 60px; }

/* Login elements */
.siteLogo .login       { display: inline; width: 195px; height: 50px; float: right; padding-top: 4px; position: relative; }
.siteLogo .login .email { margin-bottom: 5px; }
.siteLogo .forgotPassword  { font-size: 8px; }
.siteLogo .login .email,
.siteLogo .login .password { width: 110px; text-align: center; color: gray; }
.siteLogo FORM         { display: inline; }
.siteLogo .loginSubmit { height: 20px; width: 20px; vertical-align: bottom; }
.welcomeUser { color: black; padding-top: 5px; padding-right: 30px; padding-left: 55px;}

/** Flash notices */
.flashNotice     { width: 481px; background-color: white; margin: 0 0 10px 0; padding: 10px 0 15px 0; border: 3px solid #D46300;
									 text-align: center; font-size: 20px; display: none; position: absolute; }
.flashNotice .orangish { padding-bottom: 3px; font-size: 24px; font-variant: small-caps;}

/** Homepage */
.homepage { margin: auto; padding-left: 20px; }
.homepage .question { padding: 6px 0 6px 0; }
.homepage .answer { margin-left: 10px; padding-left: 22px; background-image:url('/images/arrow.png'); 
					background-repeat: no-repeat; background-position: left center; padding-top: 5px; }
.homepage_flavor_text { margin: auto; color: black; padding-right: 8px; }
.homepageSection { padding-left: 8px; }
.homepageSection .header { font-weight: bold; font-size: 13px; background-image:url('/images/arrow.png'); 
			background-repeat: no-repeat; background-position: left; padding-left: 20px;}
.homepageSection .answer { padding-left: 18px; padding-top: 6px; }
.homepage SELECT         { font-size: 15px; }

/** White background layout */
.whiteBackgroundLayout { -moz-border-radius: 15px; border-radius: 15px; background-color: white; padding: 15px; width: 600px; margin: auto; margin-top: 10px; }

/** Registration */
.registration .header { font-size: 16px; }
.registration .moreInformation { font-size: 11px; padding-left: 1px; }
.registration .header .important { font-size: 17px; font-weight: bold; color: #D46300; }
.registration .first_name { margin-right: 15px; width: 100px; }
.registration .last_name { width: 100px; }
.registration .email {width: 200px; margin-right: 45px;}
.registration .phone_number { width: 70px; }
.registration .age { width: 22px; }
.registration .gender { width: 44px; }
.registration .question { padding: 8px 0 8px 0; }

.registration .current_city { width: 200px; }
.registration .current_state { width: 25px; }
.registration .current_zip_code { width: 50px; }
.registration .race { width: 100px; }
.registration .religion { width: 100px; }

.registration .rent_min { width: 50px; }
.registration .rent_max { width: 50px; }

.registration .desired_number_of_roommates { width: 25px; }
.registration .desired_gender { width: 40px; }
.registration .desired_age_max { width: 25px; }
.registration .desired_age_min { width: 25px; }

.registration .day_available_label { margin-left: -3px; }
.registration .submit     { margin: 10px 0 0 100px; }

/* host an event */
.hostAnEvent .section { padding-left: 25px; }

/* Email input widget */
.emailInput { float: right; -moz-border-radius: 15px; border-radius: 15px; 
													 background-color: #D46300; padding: 15px; }
.emailInput .email      { width: 135px; }
.submit                 { margin-top: 6px; width: 143px; padding: 0px; background: white; }
.emailInput SELECT      { width: 145px; margin-top: 6px; }
.emailCityCaptureTitle  { padding-bottom: 8px; font-weight: bold; text-align: center; }

/* Blog page CSS */
.blogs .blog      { border: 1px solid #D46300; margin-bottom: 10px; padding: 4px; width: 400px; }
.blogs .blog A    { font-size: 23px; }

.blogShow         { padding-bottom: 35px; }
.blogShow H2      { margin-bottom: 0px; }
.blogShow .postedOn { padding-bottom: 10px; font-size: 12px; display: block; }

/* Event listing page */
.eventsIndex TH,
.eventsIndex TD   { padding: 1px 10px 1px 10px; } 

/* Input hint overlay */
.inputHintOverlay { color: #65BFEA; font-size: 12px; }
.inputHintOverlay input[type=text], .inputHintOverlay textarea { padding: 2px; font-size: 13px; width: 200px; float: left; clear: both; margin-bottom: 8px; }
.inputHintOverlay input[type=button] { float: left; clear: both; font-size: 13px; padding: 1px; }


/* About our events */
.aboutOurEvents LI { padding-bottom: 3px; }