/* Basic rails styles */
body              { background-color: #fff; color: #333; padding: 0px; margin: 0px; }
body              { font-family: "Lucida Grande"; font-size:   14px; line-height: 18px; background-color: #158384; }
pre               { background-color: #eee; padding: 10px; font-size: 11px; }
.fieldWithErrors  { border-color: red; display: inline; }
#errorExplanation { width: 400px; border: 2px solid red; padding: 7px; padding-bottom: 12px; 
					margin-bottom: 20px; background-color: #f0f0f0; }
#errorExplanation h2 { text-align: left; font-weight: bold; padding: 5px 5px 5px 15px; font-size: 12px; margin: -7px;
  background-color: #FB6C59; color: #fff; }
#errorExplanation p { color: #333; margin-bottom: 0; padding: 5px; }
#errorExplanation ul li { font-size: 12px; list-style: square; }

a { color: #D46300; text-decoration: none; }
a:visited { color: #D46300; text-decoration: none; }
a:click { color: #D46300; text-decoration: none; }
a:hovor { color: #D46300; text-decoration: none; }

/* general */
.taglineSmall   { color: #D46300; }
.orangish       { color: #D46300; }
.floatLeft      { float: left; }
.floatRight     { float: right; }
.clearBoth      { clear: both; }
.titleContainer { position: relative; height: 40px; padding-bottom: 10px; }
H2.title        { font-size: 28px; position: absolute; top: 0px; left: 0px; z-index: 100; } 
H2.titleBack    { font-size: 28px; color: #D46300; position: absolute; top: 1px; left: 1px; }
H3              { color: #D46300; padding-left: 3px; }
A IMG           { outline: none; border: none;}

/** layout */
.siteLogo        { margin: auto; color: white; text-align: left;}
.siteLogo IMG.vroommatesLogo    { height: 58px; width: 385px; }
H1.sitename      { font-size: 54px; color: #D46300; font-style: italic; }
H2.tagline       { font-size: 15px; margin-top: -30px; font-weight: normal; margin-left: 20px; }
.copyright       { font-size: 8px; margin: auto; width: 200px; padding-left: 450px; padding-top: 20px; }
.taglineEmphasis { font-weight: bold; }
.bottomBanner    { margin: auto; padding-top: 40px; width: 726px; }
.share           { width: 110px; }
.bottomNav       { text-align: center; font-size: 12px; padding-top: 15px; }

/* New Layout */
BODY.newLayout   { background:#f4a810 url('/images/layout_v2/orange_background.jpg') repeat-y center top; width: 100%; height: 100%;}
.newLayout .mainContent { width: 1000px; height: 600px; margin: auto; position: relative; }
.newLayout .mainContent .picture { border: 1px solid white; }
.newLayout .mainContent .picture1 { position: absolute; left: 0px; top: 57px; }
.newLayout .mainContent .picture2 { position: absolute; left: 249px; top: 57px; }
.newLayout .mainContent .picture3 { position: absolute; left: 374px; top: 57px; }
.newLayout .mainContent .picture4 { position: absolute; left: 0px; top: 256px; }
.newLayout .mainContent .picture5 { position: absolute; left: 249px; top: 239px; }
.newLayout .mainContent .picture6 { position: absolute; left: 374px; top: 308px; }
.newLayout .mainContent .picture7 { position: absolute; left: 0px; top: 445px; }
.newLayout .mainContent .picture8 { position: absolute; left: 183px; top: 445px; }
.newLayout .mainContent .picture9 { position: absolute; left: 894px; top: 58px; }
.newLayout .mainContent .picture10 { position: absolute; left: 784px; top: 215px; }
.newLayout .mainContent .picture11 { position: absolute; left: 806px; top: 444px; }

.newLayout .mainContent .whiteBackground { z-index: 999; position: absolute; left: 376px; }

/* Login elements */
.siteLogo .login       { display: inline; width: 195px; height: 50px; float: right; padding-top: 4px; position: relative; }
.siteLogo .login .email { margin-bottom: 5px; }
.siteLogo .forgotPassword  { font-size: 8px; }
.siteLogo .login .email,
.siteLogo .login .password { width: 110px; text-align: center; color: gray; }
.siteLogo FORM         { display: inline; }
.siteLogo .loginSubmit { height: 20px; width: 20px; vertical-align: bottom; }
.siteLogo .welcomeUser { color: black; float: right; padding-top: 10px; padding-right: 30px;}

/** Flash notices */
.flashNotice     { width: 100%; background-color: white; margin: 0 0 10px 0; padding: 10px 0 15px 0; text-align: center; font-size: 20px; display: none; }
.flashNotice .orangish { padding-bottom: 3px; font-size: 24px; font-variant: small-caps;}

/** Homepage */
.homepage { margin: auto; padding-left: 20px; width: 580px;}
.homepage .question { padding: 6px 0 6px 0; }
.homepage .answer { margin-left: 10px; padding-left: 22px; background-image:url('/images/arrow.png'); 
					background-repeat: no-repeat; background-position: left center; padding-top: 5px; }
.homepage_flavor_text { margin: auto; color: black; padding-right: 8px; }
.homepageSection { padding-left: 8px; }
.homepageSection .header { font-weight: bold; font-size: 13px; background-image:url('/images/arrow.png'); 
			background-repeat: no-repeat; background-position: left; padding-left: 20px;}
.homepageSection .answer { padding-left: 18px; padding-top: 6px; }
.homepage SELECT         { font-size: 15px; }

/** White background layout */
.whiteBackgroundLayout { -moz-border-radius: 15px; border-radius: 15px; background-color: white; padding: 15px; width: 600px; margin: auto; margin-top: 10px; }

/** Registration */
.registration .header { font-size: 16px; }
.registration .moreInformation { font-size: 11px; padding-left: 1px; }
.registration .header .important { font-size: 17px; font-weight: bold; color: #D46300; }
.registration .first_name { margin-right: 15px; width: 100px; }
.registration .last_name { width: 100px; }
.registration .email {width: 200px; margin-right: 45px;}
.registration .phone_number { width: 70px; }
.registration .age { width: 22px; }
.registration .gender { width: 44px; }
.registration .question { padding: 8px 0 8px 0; }

.registration .current_city { width: 200px; }
.registration .current_state { width: 25px; }
.registration .current_zip_code { width: 50px; }
.registration .race { width: 100px; }
.registration .religion { width: 100px; }

.registration .rent_min { width: 50px; }
.registration .rent_max { width: 50px; }

.registration .desired_number_of_roommates { width: 25px; }
.registration .desired_gender { width: 40px; }
.registration .desired_age_max { width: 25px; }
.registration .desired_age_min { width: 25px; }

.registration .day_available_label { margin-left: -3px; }
.registration .submit     { margin: 10px 0 0 15px;}

/* host an event */
.hostAnEvent .section { padding-left: 25px; }

/* Email input widget */
.emailInput { float: right; -moz-border-radius: 15px; border-radius: 15px; 
													 background-color: #D46300; padding: 15px; }
.emailInput .email      { width: 135px; }
.submit                 { margin-top: 6px; width: 143px; padding: 0px; background: white; }
.emailInput SELECT      { width: 145px; margin-top: 6px; }
.emailCityCaptureTitle  { padding-bottom: 8px; font-weight: bold; text-align: center; }

/* Blog page CSS */
.blogs .blog      { border: 1px solid #D46300; margin-bottom: 10px; padding: 4px; width: 400px; }
.blogs .blog A    { font-size: 23px; }

.blogShow         { padding-bottom: 35px; }
.blogShow H2      { margin-bottom: 0px; }
.blogShow .postedOn { padding-bottom: 10px; font-size: 12px; display: block; }

/* Event listing page */
.eventsIndex TH,
.eventsIndex TD   { padding: 1px 10px 1px 10px; } 