<div class="registrationThanks">
	<h1>Thanks for Registering</h1>

	<p>
		We will send you an email inviting you to the <a href="/">VroomMates</a> event in your area.
	</p>
	
	<p>
		Be sure to use the links below to share <a href="/">VroomMates</a> with friends
</div>
