<script type="text/javascript">var switchTo5x=true;</script><script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script><script type="text/javascript">stLight.options({publisher:'10c9e077-e906-436f-aa20-fd9048d87856'});</script>
<div class="registrationThanks">
	<h1>Thanks for Registering</h1>

	<p>
		We will send you an email inviting you to the <a href="/">VroomMates</a> event in your area.
	</p>
	
	<p>
		Be sure to use the links below to share <a href="/">VroomMates</a> with friends
	</p>
	
	<p>
		<span class='st_sharethis' displayText='ShareThis'></span>
	</p>
</div>
