<h2><%= event.title %></h2>

<div class="eventInfo">
	<h3>What to Expect</h3>
	<div class="whatToExpect">
		VroomMates events are friendly events...text here...
	</div>
	
	<h3>No Risk Policy</h3>
	<div class="noRiskPolicy">
	</div>
	
	<h3>Purchasing Options</h3>
	<div class="purchasingOptions">
		<%= event.checkout_code %>
	</div>
</div>