<% @page_title = "#{@event.title} - #{@event.neighborhood.name} - Roommate Speed Dating - Signup" %>
<div class="eventSignup">
	<%= render :partial => 'event_info', :locals => { :event => @event } %>
</div>