<div class="thankYou">
	<%= page_title 'Thank You' %>
	
	<div>
		We will let you know if there is an event coming up in your area.  You can also check back to see if there is an event.
	</div>
	
</end>