<h1>Blog Posts</h1>

<table class="listing">
  <tr>
    <th>Title</th>
    <th>&nbsp;</th>
  </tr>

<% @blog_posts.each do |blog_post| %>
  	<td><%= link_to blog_post.title, :action => 'show', :id => blog_post %></td>
    <td><%= link_to '<span class="ui-icon ui-icon-wrench floatLeft">', :acion => 'edit', :id => blog_post %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Blog Post', :controller => 'admin/blog_posts', :action => 'new' %>