<html>
	<head>
		<%= render :partial => 'partials/head.html.erb' %>
		<title>Vroommates!</title>
	</head>
	<body>
		<div class="mainLayout">
			<div class="siteLogo">				
					<%= image_tag "vroommates_logo.png", :alt => 'Vroommates Logo' %> 
			</div>	
			<div>
				<%= yield %>
			</div>
		</div>
		<div class="copyright"> &copy; 2010 Vroommates.com. All Rights Reserved.</div>
	</body>
</html>