<html>
	<head>
		<%= render :partial => 'partials/head.html.erb' %>
		<title>Vroomates!</title>
	</head>
	<body>
		<div class="mainLayout">
			<div class="siteLogo">
				<h1 class="sitename">Vroommates!</h1>
				<h2 class="tagline">Find a roommate fast with <span class="taglineEmphasis">"speed dating"</span></h2>
			</div>
			<div>
				<%= yield %>
			</div>
		</div>
		<div class="copyright">&copy; 2010</div>
	</body>
</html>