<html>
	<head>
		<%= render :partial => 'partials/head.html.erb' %>
		<title>Vroomates!</title>
	</head>
	<body>
		<div class="mainLayout">
			<div class="siteLogo">
				<%= image_tag "vroommates_logo.png", :alt => 'Vroommates Logo' %> 
			</div>
			<div class="whiteBackgroundLayout">
				<%= yield %>
			</div>
		</div>
	</body>
</html>